/* =Icon & Text Widget CSS
-------------------------------------------------------------- */
.custom-icon-container {
	display: block;
	line-height: 0;
	margin: 5px 0;
}

.custom-icon-container i {
	font-size: 60px;
}

.font-awesome-picker,
.font-awesome-picker div {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.font-awesome-picker {
	height: 300px;
	overflow: scroll;
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 10px;
	display: none;
}

	.font-awesome-picker .c4 {
		float: left;
		width: 33.33%;
		text-align: center;
		padding: 0 5px;
	}

	.font-awesome-picker .c4 div {
		background: #eee;
		border-radius: 6px;
		width: 100%;
		margin-bottom: 10px;
		padding: 10px 0;
		font-size: 11px;
		height: 81px;
		cursor: pointer;
	}

		.customize-control .font-awesome-picker .c4 div {
			height: 65px;
		}

		.font-awesome-picker .c4 div:hover {
			background: #ddd;
		}

	.font-awesome-picker i {
		display: block;
		font-size: 30px;
		height: 45px;
		line-height: 45px;
	}

		.font-awesome-picker .c4 div:hover i {
			font-size: 40px;
		}

	.font-awesome-picker .c4:nth-child(3n+1) {
		clear: both;
	}

/* =Customizer CSS
-------------------------------------------------------------- */
.custom-textarea {
	width: 100%;
}

#customize-control-layout .customize-control-title {
	margin-bottom: 5px;
}

#customize-control-layout label {
	display: block;
	clear: both;
	margin-bottom: 10px;
	position: relative;
}

#customize-control-layout label input {
	display: inline-block;
	margin-top: -80px;
}

#customize-control-layout div {
	width: 124px;
	height: 84px;
	background: url(../../images/layout.jpg) no-repeat 0 0;
	display: inline-block;
}

	#customize-control-layout .right {
		background-position: 0 -84px;
	}

	#customize-control-layout .left.second-sidebar {
		background-position: 0 -250px;
	}

	#customize-control-layout .right.second-sidebar {
		background-position: 0 -336px;
	}

	#customize-control-layout .separate {
		background-position: 0 -168px;
	}

p.description.more-top {
    margin-top: 8px;
}